body {
  background-color: #520000;
}

#B2 {
  width:800px;
  margin-left:auto;
  margin-right:auto;
}
h1 {
  color: white;
  text-align:center;
  margin-top:30px;

}
h2 {
  color:#b6ff00;
  padding-left:20px;
  margin-top:50px;
  margin-bottom:50px;
}

p {
  font-size:20px;
  padding:15px;
  color:#b6ff00;
}

p#P {

  border:2px outset #05ba03;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  color:#05ba03;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
p#P2 {
  border:2px outset #05ba03;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  color:#05ba03;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}



