      sbody {
  background-color:white;
}

#B2 {
  width:700px;
  margin-left:auto;
  margin-right:auto;
  border:15px inset black;
}
h1 {
  color: white;
  text-align:center;
  margin-top:30px;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px blue;
}
h2 {
  color:black;
  padding-left:20px;
  margin-top:50px;
  margin-bottom:50px;
}

p {
  font-size:20px;
  padding:15px;
  color:black;
}

p#P {

  border:2px outset black;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  color:blue;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
p#P2 {
  border:2px outset red;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  color:black;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}



