﻿@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

*{
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}

.section__titulo {
    text-align: center;
    font-size: 70px;
    color: #00104d;
}
.contenedor {
    margin: auto;
    width: 99%;
}

/*Estilos del header*/

.header{
    height: 60px;
}

.header .contenedor{
    display: flex;
    justify-content: space-between;
    color: #fff;
}


.logo .icon-menu {
    margin: 5px;
    color: #fff;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #FBA919;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}


/*Estilos del menu*/

.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 10px;
}
.menu__link {
    display: block;
    padding: 15px;
    background: #FBA919;
    text-decoration: none;
    color: #fff;
}
.menu__link:hover, .select {
    background: white;
    color: #FBA919;
}
.mostrar {
    left: 0;
}


/*Estilos del bannner*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
}

.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.banner__txt {
    display: none;
}

.banner__img{
    width:100%;
}



/*Estilos nombres*/

.info__txt {
    color: #fff;
    position:relative;
    top:-300px;
    left:700px;
    font-size: 50px;
}

.info__columna:hover {
    background: blue;
}


/*Equipo*/

.info__columna {
  background: #00104d;
  color: #fff;
  padding: 70px;
  
}



/*Estilos responsive*/

@media(min-width:480px) {
    .logo{
        font-size: 40px;
    }

    .banner__titulo{
        font-size: 40px;
        margin: 5px 0;
    }

    .banner__txt{
        display: block;
        font-size: 25px;
    }


}


