body {
  background-color:black !important;
}

#B2 {
  width:700px;
  margin-left:auto;
  margin-right:auto;
  border:3px inset grey;
}
h1 {
  color: white !important;
  text-align:center !important;
  margin-top:30px !important;
  text-shadow: 1px 1px 2px black, 0 0 25px #6699ff, 0 0 5px darkblue !important;
}
h2 {
  color:#6699ff !important;
  padding-left:20px;
  margin-top:50px;
  margin-bottom:50px;
}

p {
  font-size:15px;
  padding:15px;
  color:white;
}






